#gambar {
  width:100%;
  padding:0;
  margin:0;
  position:relative;
}

#teks{
  position:absolute;

  top:50%;
  width:100%;
  text-align: center;
  color:rgb(198, 57, 57);
}

body, html {
    padding: 0;
    margin: 0;
    height: 206vh;
    width: 206vh;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  li {
    width: 30%;
  }
